<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>TruckReviewFetch</servlet-name>
        <servlet-class>edu.temple.controller.TruckReviewFetchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TruckReviewFetch</servlet-name>
        <url-pattern>/fetchTrucks</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserCreate</servlet-name>
        <servlet-class>edu.temple.controller.UserCreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserCreate</servlet-name>
        <url-pattern>/createUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserLoginLogout</servlet-name>
        <servlet-class>edu.temple.controller.UserLoginLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLoginLogout</servlet-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AutoComplete</servlet-name>
        <servlet-class>edu.temple.controller.AutoCompleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutoComplete</servlet-name>
        <url-pattern>/autocomplete</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddTag</servlet-name>
        <servlet-class>edu.temple.controller.AddTagServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTag</servlet-name>
        <url-pattern>/addtags</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ItemInfoFetch</servlet-name>
        <servlet-class>edu.temple.controller.ItemInfoFetchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ItemInfoFetch</servlet-name>
        <url-pattern>/fetchItems</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>edu.temple.controller.UploadImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/uploadImage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddReview</servlet-name>
        <servlet-class>edu.temple.controller.AddReviewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddReview</servlet-name>
        <url-pattern>/addReview</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditUserInfo</servlet-name>
        <servlet-class>edu.temple.controller.EditUserInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditUserInfo</servlet-name>
        <url-pattern>/edituserinfo</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AllOpenTrucks</servlet-name>
        <servlet-class>edu.temple.controller.AllOpenTrucks</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllOpenTrucks</servlet-name>
        <url-pattern>/AllOpenTrucks</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>AddTruckServlet</servlet-name>
        <servlet-class>edu.temple.controller.AddTruckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTruckServlet</servlet-name>
        <url-pattern>/AddTruckServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteTagServlet</servlet-name>
        <servlet-class>edu.temple.controller.DeleteTagServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteTagServlet</servlet-name>
        <url-pattern>/DeleteTagServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteTruckServlet</servlet-name>
        <servlet-class>edu.temple.controller.DeleteTruckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteTruckServlet</servlet-name>
        <url-pattern>/DeleteTruckServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditMenuServlet</servlet-name>
        <servlet-class>edu.temple.controller.EditMenuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditMenuServlet</servlet-name>
        <url-pattern>/EditMenuServlet</url-pattern>
    </servlet-mapping>
     <servlet>
        <servlet-name>EditTruckServlet</servlet-name>
        <servlet-class>edu.temple.controller.EditTruckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditTruckServlet</servlet-name>
        <url-pattern>/EditTruckServlet</url-pattern>
    </servlet-mapping>
    
</web-app>
